<%- include("blog_nav"); -%> 
    <div style="width:90%;margin: auto;margin-bottom: 25px;" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./img/carousal.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4>“The man who does not read books has no advantage over the one who cannot read them.”</h4>
            <p>Mark Twain</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./img/carousal1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4>“Education is the most powerful weapon you can use to change the world.”</h4>
            <p>BB King</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



    <div class="container" style="padding:50px;">
      <div class="row ">
        <div class="col-sm-12 col-md-6 " style="margin-bottom:20px;">

            <div class="pxp-posts-1-item-fig-container">
              <div class="pxp-posts-1-item-fig pxp-cover" style="background-image: url(img/download.jpg)"></div>
            </div>
            <div class="pxp-posts-1-item-details" style="padding-bottom:10px;">
              <div class="pxp-posts-1-item-details-category" id="">
                Work while you study
              </div>
              <!-- class="collapse" id="collapseExample" aria-expanded="false" -->
              <div class="pxp-posts-1-item-details-title">
                Studying is expensive and while the government offers a range of loans and allowances to help students, having your own source of income is a good way to ensure your loan isn’t larger than it needs to be and gives you some cash flow to have a little fun away from the classroom.
                <br>
                <br>
                <b>Soft skills and their importance</b>
                <br>
                In addition to the monetary advantages, working a part-time job will provide you with a number of soft skills. These are the types of skills that aren’t taught through books and lectures, but are highly valued by employers in all manner of industry. Soft skills can be a good measure of emotional intelligence and help employers understand how well a potential employee will fit within their organisation.

                They can be linked to everything from how they deal with teammates, authority and key stakeholders, to their ability to take constructive criticism, levels of self-awareness and capacity for personal and professional growth.

                <br>
                <br>
                <b>Types of soft skills:</b>
                <ul>
                  <li>Communication</li>
                  <li>Creativity</li>
                  <li>Decision-making</li>
                  <li>Leadership</li>
                  <li>Problem solving</li>
                  <li>Self-motivation</li>
                  <li>Teamwork</li>
                  <li>Time management</li>
                  <li>Maintaining the balance</li>
                </ul>
                <br>

                Working while studying is a good way to relieve financial pressure and gain knowledge, as well as limit your reliance on a student loan. However, it is important that your part-time job doesn’t take up more of your time and energy than you can afford to devote.
                <br>
                <br>
                For this reason, many students find work at their university. With the limited budgets most institutions are working within, hiring students is an economically viable way to get the work done, while providing their students with money and valuable experience.

                Roles exist within many different departments, from assisting in the computer and science labs, to doing clerical work.
                
              </div>
              <!-- <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a> -->
              <!-- <div class="pxp-posts-1-item-details-title text-uppercase">
                <a style="color:black;" href="#modalRegister" >Read more</a>
              </div> -->
            </div>

        </div>
        <div class="col-sm-12 col-md-6" style="margin-bottom:20px;">

            <div class="pxp-posts-1-item-fig-container">
              <div class="pxp-posts-1-item-fig pxp-cover" style="background-image: url(img/download3.jpg)"></div>
            </div>
            <div class="pxp-posts-1-item-details" style="padding-bottom:10px;">
              <div class="pxp-posts-1-item-details-category" id="">
                Inspirational Blogs by Teachers
              </div>
              <div class="pxp-posts-1-item-details-title">
                Sometimes, teachers need a little inspiration to become the friendly, motivational, and helpful mentors we know them to be. And sometimes, it just takes a little bit of your own medicine to become better teachers. What better way to improve your mood and motivation than to simply read the stories of others who are going through the same things that all teachers are? Read through and get to know our picks!
                <ul>
                  <li><b>Creative teaching</b></li>
                    If you’re an art teacher, or you prefer creating things with your students to have meaningful lessons with them, try visiting The Teaching Palette. The writers of this blog love talking about finger painting and other news that will excite your students. They are trying to relive the days where people knew the importance and beauty of visual arts in helping students learn and express themselves.
                  <li><b>Scientific teaching</b></li>
                    On the other side of the spectrum is ScienceFix, which focuses on helping teachers create science lessons and experiments. It is always a good thing to introduce hard subjects to students through fun and interactive activities, so this blog is a great place to find activities that can make your students enjoy your lessons more. Use these ways to create a healthy curiosity in your students.
                  <li><b>Mathematics blogging</b></li>
                    One other subject that students have a hard time accepting is math. Of course, an entrepreneurial teacher created the Hooda Math Blog, which is dedicated to creating games for students to show that learning can be fun. Gone are the days of traditional teaching. When it comes to trying to get your student’s attention, the perfect way to do so would be to use creative methods. Who knows? If you can associate math with fun, you might be able to create some math-loving students.
                  <li><b>Laughing for Inspiration</b></li>
                    If you simply need a little more inspiration and motivation, maybe what you need are a few laughs. A great remedy for being bored or annoyed about your job would be to laugh at the antics in the Regurgitated Alpha Bits blog. It is funny and relaxing, so you can have a lot more fun with student problems and forget whatever issues may be stressing you out at school. The moment you start feeling down about teaching, take a few moments to read a few words on this blog, and you will find yourself enjoying your work and having fun again. Forget about your colleagues and stressful kids—just enjoy the laughs!
                </ul>
              </div>
              <!-- <div class="pxp-posts-1-item-details-title text-uppercase">
                <a style="color:black;" href="#">Read more</a>
              </div> -->
            </div>

        </div>
        <div class="col-sm-12 col-md-6">

            <div class="pxp-posts-1-item-fig-container">
              <div class="pxp-posts-1-item-fig pxp-cover" style="background-image: url(img/download1.jpg)"></div>
            </div>
            <div class="pxp-posts-1-item-details" style="padding-bottom:10px;">
              <div class="pxp-posts-1-item-details-category" id="">
                Tips for Parents and Students During School Closures
              </div>
              <div class="pxp-posts-1-item-details-title">
                We’re only 3 months into 2020 and schools are now closed, many for the remainder of the year, in an effort to slow the spread of COVID-19. As a tutor who primarily works with students online, I’ve heard from parents and students about the difficulties they’re facing with the unanticipated switch to online/distance learning. It’s been a tough time for everyone, and as we’re increasingly homebound, I’d like to give some tips to parents and students to make online/distance learning more manageable.
                <br>
                <br>
                <b>Some of the more frequent complaints I’ve heard?</b>
                <ul>
                  <li>Lack of the usual in-person coordination between teachers means work is often unevenly distributed during the week, with many hours of work assigned on one day and very little the next.</li>
                  <li>Inconsistent delivery of assignments and materials. Some teachers are emailing while others use Google classrooms, etc. Some post daily while others post less frequently.</li>
                  <li>Lack of clarity on how to turn in assignments. Inconsistency in delivery  instructions.</li>
                  <li>Lack of motivation on the part of students. Feeling like it “doesn’t count.” Boredom/fatigue.</li>
                </ul>

                <br>
                <b>Here are some tips for parents and students to make things more manageable. For younger students (and older students struggling with motivation), parents will need to be more involved.</b>
                <br>
                <br>
                <b>Make a simple hard copy table or document (handwritten or typed) with the following information for each class:</b>
                <ul>
                  <li>Class name</li>
                  <li>Teacher’s delivery method for materials and assignments</li>
                  <li>Days/times when teacher will post or send materials/assignments</li>
                  <li>Student’s delivery method for completed assignments</li>
                </ul>

                Make a game plan for the day (and week, if possible) based on daily check-ins.
                Some students tend to let assignments pile up while others will try to do them all immediately as they come in. I think a more sane approach is to make a clear game plan for each day and for as many days in advance as possible. It’s mentally less draining to identify the tasks for the day and check them off than it is to be constantly connected and trying to do everything at once or to let work pile up and then panic.

                Use Google, YouTube, Khan Academy, and other educational sites to reinforce difficult topics.
                Using outside materials to reinforce knowledge is always a good idea, but especially so when students are not getting the same amount of instruction or explanation as they would in the classroom. A simple place to start is with a Google search of the topic + “explanation” or “examples.” This of course requires more work and effort on the part of students, but my hope is that one very positive outcome of this situation will be that students emerge as more independent learners.

                Take breaks. Exercise. Log off. Put devices away.
                All of us, teachers, parents, and students, are struggling with technological overload in different ways, and even more so now that we are unable to do some of the activities we love. With gyms/studios closed and sports and music programs canceled, most of us are on our devices more than ever.


              </div>
              <!-- <div class="pxp-posts-1-item-details-title text-uppercase">
                <a style="color:black;" href="#">Read more</a>
              </div> -->
            </div>

        </div>
        <div class="col-sm-12 col-md-6">

            <div class="pxp-posts-1-item-fig-container">
              <div class="pxp-posts-1-item-fig pxp-cover" style="background-image: url(img/download2.jpg)"></div>
            </div>
            <div class="pxp-posts-1-item-details">
              <div class="pxp-posts-1-item-details-category" id="">
                10 ways to download and read books online for free
              </div>
              <div class="pxp-posts-1-item-details-title">
                If you're like me, books are a refuge. I don't discriminate when it comes to a good story, whether on my Nook, my Pixel 3 ($230 at eBay) or on the paper page. I love finding a good story and that stays with me long after I finish the last chapter. But when you're reading several books a month, getting new titles the easy way, from Amazon or the bookstore, gets to be an expensive hobby. That's where free digital libraries come in.
                <br>
                <br>
                Thanks to the internet, the concept of a personal library is changing. It used to be that paper books lined endless shelves. With the rise of Amazon and its Kindle, the convenience of buying books to read on a device took over. Free-lending libraries, which are celebrating National Library Week in the US, have moved online, too, alongside brick-and-mortar libraries that are reinventing themselves to stay relevant in the digital age. Today, dozens of websites and apps offer everything from contemporary indie fiction to Elizabethan classics without charging you a penny.
                <br>
                <br>
                Here are 10 good ways of getting books for free on your desktop, laptop, phone or tablet, without breaking copyright law (and we know you never would).
                <br>
                <br>
                <b>Which books can I read for free?</b>
                <br>
                If you've looked for free books before, you might've noticed that most, though not all, are classics. Older works of literature, essays or plays are classified as public domain, which means the creative work isn't subject to copyright laws. When nobody owns a work, it can be offered for free.
                <br>
                <br>
                <b>What do I need to know before I download and read?</b>
                <br>
                Reading a book online is easy, but downloading a book depends on what device you want to read it on. Apple users can install Apple Books (also known as iBooks) on their iPad, iPod Touch ($135 at Amazon) or iPhone ($899 at Amazon). Android users can check out Google Play Books. On both these apps, you can find cheap and free e-books.
                <br>
                <br>
                <b>Here are a few common formats you'll see as you explore and download your free books:</b>
                <br>
                <ul>
                  <li>EPUB - compatible on all devices except Kindle.</li>
                  <li>HTML - usable if you're reading in your browser, though eReaders support the format too.</li>
                  <li>MOBI - frequently used with Kindle.</li>
                  <li>PDF - supported by e-book readers, iOS and Android devices.</li>
                  <li>RTF - works with most e-book readers and iOS and Android devices.</li>
                  <li>TXT - Basic text with no formatting and compatible with iOS and Android devices.</li>
                </ul>






              </div>
              <!-- <div class="pxp-posts-1-item-details-title text-uppercase">
                <a style="color:black;" href="#">Read more</a>
              </div> -->
            </div>

        </div>
      </div>
    </div>
<%- include("footer"); -%> 