  <!-- Footer -->

  <footer id="footer">
    <p><i class="fa fa-twitter footer-icon"></i><i class="fa fa-facebook footer-icon"></i><i class="fa fa-instagram footer-icon"></i><i class="fa fa-envelope footer-icon"></i></p>
    <p>© Copyright 2018 funZone</p>
    <p>© Shreyansh@-9910321401 || Shray@-7428485599 || ritik@-8851351072 || sahil@-8800361601</p>

  </footer>


</body>

</html>