  <!-- Footer -->

  <footer id="footer">
    <p><i class="fa fa-twitter footer-icon"></i><i class="fa fa-facebook footer-icon"></i><i class="fa fa-instagram footer-icon"></i><i class="fa fa-envelope footer-icon"></i></p>
    <p>© Copyright 2018 funZone</p>

  </footer>


</body>

</html>