<%- include("header"); -%> 
 <!-- Title -->

 <div class="row">

  <div class="col-lg-6">
      <h1>Cultivating Excellance, Talent and Creativity</h1><br>
      <%if(!currentUser){%>
      <button type="button" class="btn btn-dark btn-lg Download-button" data-toggle="modal" data-target="#example2ModalLong"><i class="fas fa-user-circle" aria-hidden="true"></i>  Sign Up</button>
      <button type="button" class="btn btn-outline-light btn-lg Download-button" data-toggle="modal" data-target="#exampleModalLong"><i class="far fa-user-circle"></i>  Log In</button>
      <%}else{}%>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"->
<div class="modal-dialog" role="document">
<div class="modal-content">
<div style="background:rgba(0,107,141,1);" class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle" style="color: #fff;  font-weight: bold;"> LOG IN </h5>
  <button type="button" class="btn-close" data-dismiss="modal"><span style="color: #fff;"></span></button>
</div>
<div style="color:black;"class="modal-body">
  <form method="post" action="/login">
    <div class="mb-3">
      <label for="example1InputEmail1" class="form-label">Email address</label>
      <input type="text" class="form-control" name="username" required id="example1InputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="example1InputPassword1" class="form-label">Password</label>
      <input type="password" name="password" required class="form-control" id="example1InputPassword1">
    </div>
    <button href="#" type="submit" class="btn btn-outline-dark">Submit</button>
  </form>
</div>
<div style="background:rgba(0,107,141,1);" class="modal-footer">
  <button type="button" class="btn btn-outline-light btn-lg Download-button" data-dismiss="modal" data-toggle="modal" data-target="#example2ModalLong"><i class="fas fa-user-circle" aria-hidden="true"></i>  Sign Up</button>
</div>
</div>
</div>
</div>

<div class="modal fade " id="example2ModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div style="background:rgba(0,107,141,1);" class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle" style="color: #fff; font-weight: bold;">SIGN UP</h5>
  <button type="button" class="btn-close" data-dismiss="modal"></button>
</div>
<div style="color:black;"class="modal-body">
  <form method="post" action="/register">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" name="username" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" required class="form-control" id="exampleInputPassword1">
    </div>
    <button href="#" type="submit" class="btn btn-outline-dark ">Submit</button>
  </form>
</div>
<div style="background:rgba(0,107,141,1);" class="modal-footer">
  <button type="button" class="btn btn-outline-light btn-lg Download-button " data-dismiss="modal" data-toggle="modal" data-target="#exampleModalLong"><i class="fas fa-user-circle" aria-hidden="true"></i>  Log In </button>
</div>
</div>
</div>
</div>

  </section>

  <div class="container">
    <div class="row">
      <div  class="col-lg-4 col-sm-6">
        <a href="/music">
        <div class="boxshadowforcards card text-center hover-shadow-lg hover-translate-y-n10">
          <div class="px-4 py-5">
            <i class="fas fa-music" style="font-size: 3rem; color: rgba(0,107,141,1);"></i>
          </div>
          <div  class="px-4 pb-5">
            <h5>Music</h5>
            <p class="text-muted">Music doesn’t just motivate you. It can also help reduce stress and promote a more positive mindset... </p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="/todo">
        <div class="boxshadowforcards card text-center hover-shadow-lg hover-translate-y-n10">
          <div class="px-4 py-5">
            <i class="fas fa-clipboard-list" style="font-size: 3rem; color: rgba(0,107,141,1);"></i>
          </div>
          <div class="px-4 pb-5">
            <h5>To Do list</h5>
            <p class="text-muted">Set Goals and Achieve milestones with you're very own To-Do Lists... </p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="/survey">
        <div class="boxshadowforcards card text-center hover-shadow-lg hover-translate-y-n10">
          <div class="px-4 py-5">
            <i class="fas fa-poll-h" style="font-size: 3rem; color: rgba(0,107,141,1);"></i>
          </div>
          <div class="px-4 pb-5">
            <h5>Survey</h5>
            <p class="text-muted">We will entertain your feedback... </p>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  <%- include("footer"); -%> 